@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

*{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
    overflow-y: scroll;
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

header{
    padding: 0px 0px;
}

h2{
    margin: 20px 0px 10px 0px;
}

p{
    margin: 0;
}

.header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1em;
    background-color: rgb(23, 124, 255);
    box-shadow: 0px 10px 15px -10px;
}

.contenedor-marca{
    width: 15%;
    margin-left: 2.5%;    
}

.contenedor-marca a{
    font-size: 1.8em;
    font-weight: bold;
    color: #FFF;
    text-decoration: none;
}

nav{
    width: 60%;  
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.menu-horizontal{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.menu-horizontal h6{
    padding: 5px 10px;
    color: #FFF;
    font-size: 1em;
    font-style: italic;
}

.menu-horizontal li a{
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    color: #FFF;
    border-radius: 5px;
    font-size: .9em;
}

.menu-horizontal li a:hover{
    background-color: #FFF;
    color: rgb(23, 124, 255);
}

.menu-vertical{
    position: absolute;
    display: none;
    list-style: none;
    background-color: #FFF;
    padding: 0px;
    box-shadow: 0px 0px 15px -10px;
}

.menu-horizontal li:hover .menu-vertical{
    background-color: rgb(23, 124, 255);
    display: block;
    text-align: start;
    border-radius: 5px;
}

.contenedor-busqueda{
    width: 20%;
    margin: 0% 2.5%;
    display: flex;
}

.contenedor-busqueda input{
    border: 1px solid #b1b1b1;
    border-radius: 5px;
    padding: 3px 5px;
    font-family: 'Poppins';
}

.contenedor-busqueda button{
    margin-left: 10px;
    border: 1px solid #ffd000;
    border-radius: 5px;
    background-color: #ffd000;
    padding: 3px 15px;
    font-family: 'Poppins';
    font-weight: bold;
    color: #000;
}

.contenedor-busqueda button:hover{
    background-color: #dbb300;
    border-color: #dbb300;
}

.main{
    margin: 2% 10% 2% 10%;
}

.contenedor-titulo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contenedor-agregar{
    text-align: end;
    width: 20%;
}

.separador{
    margin-bottom: 25px;
}

.catalogo{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    justify-items: center;
    gap: 5%; 
}

.item{
    padding: 0% 5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #b1b1b1;
    border-radius: 5px;
}

.item:hover{
    box-shadow: 0px 10px 30px -10px;
}

.item img{
    margin-top: 15px;
    width: 150px;
    height: 150px;
}

.item-imagen{
    height: 45%;
}

.item-nombre{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    font-size: 1.6em;
}

.height-auto{
    height: auto;
}

.item-footer{
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 5%;
    font-weight: bold;
    font-size: 1.2em;
}

.item-footer a{
    font-size: .85em;
    padding: 2% 5%;
    font-weight: lighter;
    text-decoration: none;
    text-align: center;
    color: #FFF;
    background-color: rgb(23, 124, 255);
    border-radius: 5px;
}

.item-footer a:hover{
    background-color: rgb(15, 82, 170);
}

.contenedor-dato{
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    padding: 3% 0%;
}

.titulo-dato{
    font-weight: bold;
    color: #747474;
}

.dato{
    font-size: 1.3em;
    font-weight: bold;
}

.local-footer{
    justify-content: flex-end;
}

.contenedor-detalle{
    display: flex;
    width: 100%;
    padding: 1%;
    border: 1px solid #b1b1b1;
    border-radius: 5px;
}

.detalle-categoria{
    width: 20%;
    flex-direction: column;
}

.imagen-detalle{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 400px;
    min-height: 400px;
}

.imagen-detalle img{
    max-width: 400px;
    max-height: 400px;
}

.slider-item-imagen{
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-nav::after{
    background-color: #000;
}

.info-detalle{
    width: 50%;
    padding-left: 5%;
} 

.botones-detalle{
    display: flex;
    width: 100%;
}

.botones-categoria{
    width: 100%;
}

.boton-editar{
    margin-right: 5%;
    width: 20%;
    font-size: 1em;
    padding: 2% 5%;
    font-weight: lighter;
    text-decoration: none;
    text-align: center;
    color: #FFF;
    background-color: rgb(23, 124, 255);
    border-radius: 5px;
}

.boton-editar:hover{
    background-color: rgb(15, 82, 170);
}

.boton-eliminar{
    width: 20%;
    font-size: 1em;
    padding: 2% 5%;
    font-weight: lighter;
    text-decoration: none;
    text-align: center;
    color: #FFF;
    background-color: rgb(252, 30, 30);
    border-radius: 5px;
}

.boton-eliminar:hover{
    background-color: rgb(204, 0, 0);
}

.boton-categoria{
    width: 50%;
}

.boton-agregar{
    margin-right: 0%;
}

.titulo-producto{
    font-size: 1.5em;
    font-weight: bold;
}

.detalle-producto{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 5% 5%;
}

.contenedor-form{
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1% 2%;
    border: 1px solid #b1b1b1;
    border-radius: 5px;
    text-align: left;
    font-family: 'Poppins';
}

.contenedor-form {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1% 2%;
    border: 1px solid #b1b1b1;
    border-radius: 5px;
    text-align: left;
    font-family: 'Poppins';
}

.contenedor-form input[type = text], input[type = number], input[type = password], input[type = email], select{
    margin-left: 1%;
    padding: 1% 2%;
    font-size: 1em;
    border: 1px solid #747474;
    border-radius: 5px;
}

.contenedor-form input[type = submit]{
    width: 100%;
    margin-top: 5%;
    border-color: transparent;
}

.confirmar-eliminar{
    margin-top: 1%;
    padding: 1% 5%;
    border-color: transparent;
    font-family: 'Poppins';
}

.contenedor-form input[type = file]{
    font-family: 'Poppins';
}

.contenedor-form span{
    display: none;
}

footer{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(23, 124, 255);
}

footer ul{
    margin: 0;
    padding: 0;
}

footer ul li{
    display: inline;
    list-style: none;
    padding: 0px 10px;
}

.slogan{
    display: flex;
    flex-direction: column;
}

.slogan h2{
    text-align: center;
    color: #FFF;
}

.slogan p{
    color: #FFF;
    font-size: 1.2em;
    font-weight: bold;
}

.redes{
    padding-bottom: 1%;
}

.redes ul{
    display: flex;
    justify-content: center;  
}

.redes ul li:not(:first-child){
    margin-left: 2%;
}

.facebook img:last-child{
    display: none;
}

.facebook:hover img:last-child{
    display: block;
}

.facebook:hover img:first-child{
    display: none;
}

.instagram img:last-child{
    display: none;
}

.instagram:hover img:last-child{
    display: block;
}

.instagram:hover img:first-child{
    display: none;
}

.youtube img:last-child{
    display: none;
}

.youtube:hover img:last-child{
    display: block;
}

.youtube:hover img:first-child{
    display: none;
}