{% extends 'base.html' %}

{% block Titulo %}
    Acerca de Nosotros
{% endblock %}

{% block Contenido %}

<center><h2>Acerca de nosotros</h2><center>


<p>Bienvenidos a Electrotienda, un espacio donde encontraras todo lo que necesitas a tan solo un click de distancia.<br><br>

    
    <img src="/media\profile_image\note.jpg" alt="Foto de Valentin"<br>
 

    <img src="/media\profile_image\Norma.jpg" alt="Foto de Norma"<br>
    
    
    <img src="/media\profile_image\note1.jpg" alt="Foto de Melanie"<br><br>

    Somos Valentin, Norma y Melanie, alumnos del curso de Python dictado por Coderhouse.<br>
    En esta pagina podran navegar por nuestro trabajo final, una pgaina web destinada a la compra de productos electronicos.
</p>


{% endblock %}