{% extends 'base.html' %}

{% block Titulo %}
    Acerca de Nosotros
{% endblock %}

{% block Contenido %}

<section class="contenedor-nosotros">
    <h2>Acerca de nosotros</h2>
    <p>Bienvenidos a Electrotienda, un espacio donde encontraras todo lo que necesitas a tan solo un click de distancia.</p>
    <div class="contenedor-perfiles">
        <div class="perfil">
            <div class="item-perfil">
                <div>
                    <img src="../static/valentin.png" alt="Foto de Valentín">
                </div>
                <div>
                    <p>Valentín</p>
                </div>
            </div>
            <div class="item-perfil">
                <div>
                    <img src="../static/norma.png" alt="Foto de Norma">
                </div>
                <div>
                    <p>Norma</p>
                </div>
            </div>
            <div class="item-perfil">
                <div>
                    <img src="../static/melanie.png" alt="Foto de Melanie">
                </div>
                <div>
                    <p>Melanie</p>
                </div>
            </div>
        </div>
    </div>
    <p>Somos Valentin, Norma y Melanie, alumnos del curso de Python dictado por Coderhouse.</p>
    <p>En esta pagina podran navegar por nuestro trabajo final, una página web destinada al mantenimiento de productos electrónicos.</p>
</section>

{% endblock %}