<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>

      {% block Titulo %}
      {% endblock %}

  </title>
  <link rel="stylesheet" href="/static/estilos.css">
</head>
<header class="header">
  <div class="contenedor-marca">
  <a href="/""/">ELECTROTIENDA</a>
  </div>
  <nav>
    <ul class="menu-horizontal">
      <li>
        <a href="/contacto/">CONTACTOS</a>
      </li>
      <li>
        <a href="/about/">NOSOTROS</a>
      </li>
      <li>
        <a href="/productos/">PRODUCTOS</a>
      </li>
      <li>
        <a href="/categorias/">CATEGORIAS</a>
      <li>
        <a href="/locales/">LOCALES</a>
      </li>
      {% if request.user.is_authenticated %}
        <li>
          <a class="usuario" href="/edit_user/">USUARIO: {{request.user.username}}</a>
        </li>
        <li>
          <a href="/logout/">LOGOUT</a>
        </li>
      {% else %}
        <li>
          <a href="/login/">LOGIN</a>
        </li>
        <li>
          <a href="/register/">REGISTRO</a>
        </li>
      {% endif %}
    </ul>
  </nav>
  <div class="contenedor-busqueda"> 
    <form class="form-inline my-2 my-lg-0" action = "/productos/search-product/" method = "GET">
      <input style="font-size: small" class="form-control mr-sm-2" type="text" placeholder="Buscar producto" aria-label="Search" name = "search" >
      <button style="font-size: small" class="btn btn-success my-2 my-sm-0" type="submit">BUSCAR</button>
    </form>
  </div>
</header>
</body>
  <section>

      {% block Contenido %}
      {% endblock %}

  </section> 
  <footer>
    <div>
      <h2>ELECTROTIENDA</h2>
      <p>Los mejores productos al mejor precio, siempre</p>
    </div>
  </footer>
</body>
</html>