<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>

      {% block Titulo %}
      {% endblock %}

  </title>
  <link rel="stylesheet" href="/static/estilos.css">
</head>
<header class="header">
  <div class="contenedor-marca">
  <a href="/""/">ELECTROTIENDA</a>
  </div>
  <nav>
    <ul class="menu-horizontal">
      <li>
        <a href="/contacto/">CONTACTOS</a>
      </li>
      <li>
        <a href="/about/">NOSOTROS</a>
      </li>
      <li>
        <a href="/productos/">PRODUCTOS</a>
      </li>
      <li>
        <a href="/categorias/">CATEGORIAS</a>
      <li>
        <a href="/locales/">LOCALES</a>
      </li>
      {% if request.user.is_authenticated %}
        <li>
          <h6>Usuario: {{request.user.username}}</h6>
        </li>
        <li class="nav-item">
          <img src="{{request.user.perfil_usuario.profile_image.url}}" style="height:4rem;>"
        <li>
          <a href="/logout/">LOGOUT</a>
        </li>
      {% else %}
        <li>
          <a href="/login/">LOGIN</a>
        </li>
        <li>
          <a href="/register/">REGISTRO</a>
        </li>
      {% endif %}
      <!-- <li>
        <a href="#">AGREGAR</a>
        <ul class="menu-vertical">
          <a href="/productos/crear_local">LOCAL</a>
          <a href="/productos/crear_producto">PRODUCTO</a>
          <a href="/productos/crear_categoria/">CATEGORIA</a>
        </ul>
      </li> -->
    </ul>
  </nav>
  <div class="contenedor-busqueda"> 
    <form class="form-inline my-2 my-lg-0" action = "/productos/search-product/" method = "GET">
      <input style="font-size: small" class="form-control mr-sm-2" type="text" placeholder="Buscar producto" aria-label="Search" name = "search" >
      <button style="font-size: small" class="btn btn-success my-2 my-sm-0" type="submit">BUSCAR</button>
    </form>
  </div>
</header>
</body>
  <section>

      {% block Contenido %}
      {% endblock %}

  </section> 
  <footer>
    <div class="slogan">
      <h2>ELECTROTIENDA</h2>
      <p>Los mejores productos al mejor precio, siempre</p>
    </div>
    <div class="redes">
        <ul>
            <li>
                <a href="#" class="facebook">
                    <img class="iconoFacebook" src="../static/facebook.png" alt="Facebook">
                    <img class="iconoFacebook" src="../static/facebookHover.png" alt="Facebook">
                </a>
            </li>
            <li>
                <a href="#" class="instagram">
                    <img class="iconoInstagram" src="../static/instagram.png" alt="Instagram">
                    <img class="iconoInstagram" src="../static/instagramHover.png" alt="Instagram">
                </a>
            </li>
            <li>
                <a href="#" class="youtube">
                    <img class="iconoYoutube" src="../static/youtube.png" alt="YouTube">
                    <img class="iconoYoutube" src="../static/youtubeHover.png" alt="YouTube">
                </a>
            </li>
        </ul>
    </div>
  </footer>
</body>
</html>