{% extends 'base.html' %}

{% block Titulo %}
    Categorias
{% endblock %}

{% block Contenido %}

<section class="main">
    <div class="contenedor-titulo">
        <h2>CATEGORIAS</h2>
        <div class="contenedor-agregar">
            <a class="boton-editar boton-agregar" href="/productos/crear_categoria/">AGREGAR CATEGORIA</a>
        </div>
    </div>
    <hr class="separador">
    <div class="catalogo">
        {% for categoria in categorias %}
        <div class="item">
            <div class="item-nombre height-auto">
                <h5>{{categoria.name}}</h5>
            </div>
            <div class="item-footer">
                <a href="/productos/detalle_categoria/{{categoria.id}}/">Ver detalle</a>         
            </div>           
        </div>
        {% endfor %}
    </div>
    <div style = "color:red;">{{error}}</div>
</section>

{% endblock %}

