{% extends 'base.html' %}

{% block Titulo %}
    Categorias
{% endblock %}

{% block Contenido %}

<h2>CATEGORIAS</h2>

<div class="d-flex" style="margin-top:5rem; margin-left:7rem">
    {% for categoria in categorias %}

    <div class="card" style="width: 18rem;">
        <!-- <img class="card-img-top" alt="Card image cap"> -->
        <div class="card-body">
            <h5 class="card-title">{{categoria.name}}</h5>
            <a href="/productos/detalle_categoria/{{categoria.id}}/" class="btn btn-primary">Ver detalle</a>
        </div>
    </div>

    {% endfor %}
</div>
<div style = "color:red;">{{error}}</div>

{% endblock %}

