{% extends 'base.html' %}

{% block Titulo %}
    Crear local
{% endblock %}

{% block Contenido %}

<section class="main">
    {% if form %}
        <h2>AGREGAR LOCAL</h2>
        <hr class="separador">
        <div class="contenedor-form">
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <table>
                    {{form.as_table}}
                </table>
                <input class="boton-editar" type="submit" value="Agregar">
            </form>
        </div>
    {% endif %}
</section>

{% endblock %}