{% extends 'base.html' %}

{% block Titulo %}
    Detalle producto
{% endblock %}

{% block Contenido %}

<h2>DETALLE DEL PRODUCTO</h2>
<div class="d-flex" style="margin-top:5rem; margin-left:7rem">

    <div class="card" style="width: 18rem;">
        <!-- <img class="card-img-top" alt="Card image cap"> -->
        <div class="card-body">
            <h5 class="card-title">{{object.name}}</h5>
            <p class="card-text">{{object.descripcion}}</p>
            <p class="card-text">{{object.precio}}</p>
            <a href="/productos/actualizar_producto/{{object.id}}/" class="btn btn-primary">Editar</a>
            <a href="/productos/eliminar_producto/{{object.id}}/" class="btn btn-danger">Eliminar</a>
        </div>
    </div>

</div>

{% endblock %}