{% extends 'base.html' %}

{% block Titulo %}
    Detalle producto
{% endblock %}

{% block Contenido %}

<section class="main">
    <h2>DETALLE DEL PRODUCTO {{object.id}}</h2>
    <hr class="separador">
    <div class="contenedor-detalle">
        <div class="imagen-detalle">
            <!-- {% if producto.imagenes.all < 3 %}
                <p>solo una imagen</p>
            {% else %}
                {% for imagen in producto.imagenes.all %}
                    <img src="{{ imagen.imagen.url }}">
                {% endfor %}  
            {% endif %} -->
            {% for imagen in producto.imagenes.all %}
                <img src="{{ imagen.imagen.url }}">
            {% endfor %}
        </div>      
        <div class="info-detalle detalle-producto">
            <p class="titulo-producto">{{object.name}}</p>
            <div class="contenedor-dato">
                <p class="titulo-dato">DESCRIPCIÓN</p>
                <p class="dato">$ {{object.descripcion}}</p>
            </div>
            <div class="contenedor-dato">
                <p class="titulo-dato">PRECIO</p>
                <p class="dato">$ {{object.precio}}</p>
            </div>
            <div class="botones-detalle">
                <a class="boton-editar" href="/productos/actualizar_producto/{{object.id}}/">Editar</a>
                <a class="boton-eliminar" href="/productos/eliminar_producto/{{object.id}}/">Eliminar</a>
            </div>
        </div>
    </div>
</section>

{% endblock %}