{% extends 'base.html' %}

{% block Titulo %}
    Detalle local
{% endblock %}

{% block Contenido %}

<h2>DETALLE DEL LOCAL</h2>
<div class="d-flex" style="margin-top:5rem; margin-left:7rem">
    <p> 
        <img src="/media\profile_image\electro.png" width:"500">
   </p>

    <div class="card" style="width: 18rem;">
        <!-- <img class="card-img-top" alt="Card image cap"> -->
        <div class="card-body">
            <h5 class="card-title">Local {{object.id}}</h5>
            <p class="card-text">{{object.direccion}}</p>
            <p class="card-text">{{object.barrio}}</p>
            <p class="card-text">{{object.apertura}}</p>
            <p class="card-text">{{object.cierre}}</p>
            <a href="/productos/actualizar_local/{{object.id}}/" class="btn btn-primary">Editar</a>
            <a href="/productos/eliminar_local/{{object.id}}/" class="btn btn-danger">Eliminar</a>
        </div>
    </div>

</div>

{% endblock %}