{% extends 'base.html' %}

{% block Titulo %}
    Detalle local
{% endblock %}

{% block Contenido %}

<section class="main">
    <h2>DETALLE DEL LOCAL {{object.id}}</h2>
    <hr class="separador">
    <div class="contenedor-detalle">
        <div class="imagen-detalle">
            {% if object.imagen %}
                <img src="{{ object.imagen.url }}" alt="imagen">
            {% else %}
                <img src="/static/sin_imagen.png" alt="imagen">    
            {% endif %} 
        </div>
        <hr >
        <div class="info-detalle">
            <div class="contenedor-dato">
                <p class="titulo-dato">DIRECCIÓN</p>
                <p class="dato">{{object.direccion}}</p>
            </div>
            <div class="contenedor-dato">
                <p class="titulo-dato">BARRIO</p>
                <p class="dato">{{object.barrio}}</p>
            </div>
            <div class="contenedor-dato">
                <p class="titulo-dato">HORARIO</p>
                <p class="dato">De {{object.apertura}} a {{object.cierre}} hs.</p>
            </div>
            <div class="botones-detalle">
                <a class="boton-editar" href="/productos/actualizar_local/{{object.id}}/">Editar</a>
                <a class="boton-eliminar" href="/productos/eliminar_local/{{object.id}}/">Eliminar</a>
            </div>            
        </div>
    </div>
    <div style = "color:red;">{{error}}</div>
</section>

{% endblock %}