{% extends 'base.html' %}

{% block Titulo %}
    Detalle categoría
{% endblock %}

{% block Contenido %}

<section class="main">
    <h2>DETALLE DE LA CATEGORIA {{object.id}}</h2>
    <hr class="separador">
    <div>
        <div class="contenedor-detalle detalle-categoria">
            <div class="item-nombre height-auto">
                <h5>{{object.name}}</h5>
            </div>
            <div class="botones-detalle botones-categoria">
                <a class="boton-editar boton-categoria" href="/productos/actualizar_categoria/{{object.id}}/">Editar</a>
                <a class="boton-eliminar boton-categoria" href="/productos/eliminar_categoria/{{object.id}}/">Eliminar</a>
            </div>
        </div>
    </div>
    <div style = "color:red;">{{error}}</div>
</section>

{% endblock %}