{% extends 'base.html' %}

{% block Titulo %}
    Locales
{% endblock %}

{% block Contenido %}

<section class="main">
    <h2>LOCALES</h2>
    <hr class="separador">
    <div class="catalogo">
    {% for local in locales %}   
        <div class="item">
            <div class="item-imagen">
               
        {% if local.imagenes.first.imagen.url %}
            <img src="{{ local.imagenes.first.imagen.url }}" alt="imagen">
            {% else %}
             <img src="../static/sin_imagen.png" alt="imagen">
          <div class="swiffy-slider">
            <ul class="slider-container">
             </ul>            
              <button type="button" class="slider-nav"></button>
              <button type="button" class="slider-nav slider-nav-next"></button>
            </div> 
            {% endif %}
        </div>    
           </div>
            <div class="item-nombre height-auto">
                <h5>LOCAL {{local.id}}</h5>
            </div>
            <div class="item-footer local-footer">
                <a href="/productos/detalle_local/{{local.id}}/">Ver detalle</a>
            </div>
        </div>
    {% endfor %}
    </div>
    <div style = "color:red;">{{error}}</div>
</section>

{% endblock %}