{% extends 'base.html' %}

{% block Titulo %}
    Locales
{% endblock %}

{% block Contenido %}

<section class="main">
    <div class="contenedor-titulo">
        <h2>LOCALES</h2>
        <div class="contenedor-agregar">
            <a class="boton-editar boton-agregar" href="/productos/crear_local">AGREGAR LOCAL</a>
        </div>
    </div>
    <hr class="separador">
    <div class="catalogo">
    {% for local in locales %}   
        <div class="item">
            <div class="item-detalle">
                {% if local.imagen %}
                    <img src="{{ local.imagen.url }}" alt="imagen">
                {% else %}
                    <img src="../static/sin_imagen.png" alt="imagen">   
                {% endif %}
            </div>
            <div class="item-nombre height-auto">
                <h5>LOCAL {{local.id}}</h5>
            </div>
            <div class="item-footer local-footer">
                <a href="/productos/detalle_local/{{local.id}}/">Ver detalle</a>
            </div>
        </div>
    {% endfor %}
    </div>
    <div style = "color:red;">{{error}}</div>
</section>

{% endblock %}