{% extends 'base.html' %}

{% block Titulo %}
    Productos
{% endblock %}

{% block Contenido %}

<h2>PRODUCTOS</h2>

<div class="d-flex" style="margin-top:5rem; margin-left:7rem">
    {% for producto in productos %}

    <div class="card" style="width: 18rem;">
        <!-- <img class="card-img-top" alt="Card image cap"> -->
        <div class="card-body">
            <h5 class="card-title">{{producto.name}}</h5>
            <p class="card-text">{{producto.descripcion}}</p>
            <p class="card-text">{{producto.precio}}</p>
            <a href="/productos/detalle_producto/{{producto.id}}/" class="btn btn-primary">Ver detalle</a>
        </div>
    </div>

    {% endfor %}
</div>
<div style = "color:red;">{{error}}</div>

{% endblock %}