{% extends 'base.html' %}

{% block Titulo %}
    Productos
{% endblock %}

{% block Contenido %}

<section class="main">
    <h2>PRODUCTOS</h2>
    <hr class="separador">
    <div class="catalogo">
        {% for producto in productos %}
            <div class="item">
                <div class="item-imagen">
                {% if producto.imagenes.first.imagen.url %}
                    <img src="{{ producto.imagenes.first.imagen.url }}" alt="imagen">
                {% else %}
                    <img src="../static/sin_imagen.png" alt="imagen">
                {% endif %}
                </div>
                <div class="item-nombre">
                    <h5>{{producto.name}}</h5>
                </div>
                <div class="item-footer">
                    <p>$ {{producto.precio}}</p>
                    <a href="/productos/detalle_producto/{{producto.id}}/" class="btn btn-primary">VER DETALLE</a>
                </div>
            </div>
        {% endfor %}
    </div>
    <div style = "color:red;">{{error}}</div>
</section>

{% endblock %}