{% extends 'base.html' %}

{% block Titulo %}
    Productos
{% endblock %}

{% block Contenido %}

<section class="main">
    <h2>PRODUCTOS</h2>
    <hr class="separador">
    <!-- <div class="d-flex" style="margin-top:5rem; margin-left:7rem"> -->
    <div class="catalogo">
        {% for producto in productos %}

        <!-- <div class="card" style="width: 18rem;"> -->
        <div class="item">
            <!-- <img class="card-img-top" alt="Card image cap"> -->
            <!-- <div class="card-body"> -->
            <div class="item-imagen">
            {% if producto.imagenes.first.imagen.url %}
                <img src="{{ producto.imagenes.first.imagen.url }}" alt="imagen">
            {% else %}
                <img src="../static/sin_imagen.png" alt="imagen">
            {% endif %}
            </div>
            <div class="item-nombre">
                <h5 class="card-title">{{producto.name}}</h5>
            </div>
            <!-- <p class="card-text">{{producto.descripcion}}</p> -->
            <div class="item-footer">
                <p class="card-text">$ {{producto.precio}}</p>
                <a href="/productos/detalle_producto/{{producto.id}}/" class="btn btn-primary">VER DETALLE</a>
            </div>
        </div>

        {% endfor %}
    </div>
    <div style = "color:red;">{{error}}</div>
</section>
{% endblock %}