{% extends 'base.html' %}

{% block Titulo %}
    Editar usuario
{% endblock %}

{% block Contenido %}

<section class="main">
    <h2>Actualice la información de su cuenta de usuario</h2>
    <hr class="separador">
    <div class="contenedor-form">
        <form action="" method="POST"> 
            {% csrf_token %}
            <table>
                {{form.as_table}}
            </table>
            <input class="boton-editar" type="submit" value="Guardar">
        </form>
    </div>
</section>

{% endblock %}